
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #1976d2, #42a5f5); /* Fundo gradiente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: fixed;
  top: 0; /* Fixa o Header no topo */
  width: 100%;
  z-index: 999; /* Mantém acima de outros elementos */
  transition: top 0.3s ease, padding 0.3s ease; /* Suaviza o reposicionamento */
}

.header + .hero {
  margin-top: 0; /* Remove o espaço entre o header e o hero */
  padding-top: 75px; /* Adiciona espaço para o conteúdo não sobrepor o header */
}

.hero {
  margin: 0; /* Remove qualquer margem no hero */
  padding: 0; /* Remove padding adicional */
}

.header.expanded {
  top: 0; /* Move o Header para o topo */
  padding: 10px 30px; /* Reduz o padding */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra mais acentuada */
}

/* Estilo da Logo */
.header-logo a {
  text-decoration: none; /* Remove o sublinhado */
  color: #ffffff; /* Cor branca padrão */
  font-weight: bold;
  font-size: 1.8rem;
  transition: transform 0.3s ease, color 0.3s ease; /* Transição suave */
}

.header-logo a:hover {
  transform: scale(1.1); /* Leve aumento no tamanho */
  color: #ffc107; /* Amarelo no hover */
}

/* Navegação */
.header-nav-links {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.header-nav-links a {
  text-decoration: none;
  color: #ffffff; /* Branco */
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.header-nav-links a:hover {
  color: #ffc107; /* Amarelo no hover */
  border-bottom: 2px solid #ffc107; /* Linha amarela no hover */
}

.header-icon {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  font-size: 1rem; /* Tamanho do ícone */
  color: #ffffff; /* Branco */
  transition: color 0.3s ease;
}

/* Hover nos ícones */
.header-nav-links a:hover .header-icon {
  color: #ffc107; /* Ícone amarelo no hover */
}

/* Botão "Agenda uma Visita" */
.header-button {
  display: flex;
  align-items: center; /* Alinha o ícone com o texto */
  text-decoration: none;
  color: #d32f2f; /* Vermelho */
  font-weight: bold;
  font-size: 0.9rem;
  gap: 8px; /* Espaço entre o ícone e o texto */
  padding: 5px; /* Ajusta o espaçamento interno para combinar com os links */
  transition: color 0.3s ease, transform 0.2s ease; /* Transições para efeitos */
}

.header-button:hover {
  background-color: rgba(211, 47, 47, 0.1); /* Fundo vermelho claro translúcido */
  border-radius: 5px; /* Bordas suaves */
  transform: translateY(-2px); /* Elevação */
}

.header-button:active {
  transform: translateY(1px); /* Simula o botão sendo pressionado */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra interna */
}

/* Menu Hambúrguer */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #ffffff;
  cursor: pointer;
}

.menu-close {
  display: none;
}

/* Estilo Mobile */
@media (max-width: 768px) {

  .header-nav-links.open .menu-close {
    display: block; /* Mostra o botão apenas quando o menu está aberto */
  }
  /* Header no Mobile */
  .header {
    justify-content: center;
    align-items: center; /* Garante que os itens fiquem alinhados verticalmente */
    min-height: 60px; /* Define uma altura mínima para o header */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    top: 0; /* Fixado no topo */
    width: 100%;
    background: linear-gradient(to right, #1976d2, #42a5f5); /* Fundo gradiente */
    z-index: 999; /* Fica acima dos outros elementos */
  }

  /* Ajuste de Espaçamento no Hero */
  .header + .hero {
    margin-top: 0; /* Remove o espaço no mobile */
    padding-top: 60px; /* Ajusta o espaço para o header menor */
  }

  /* Centralizar a Logo no Mobile */
  .header-logo {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Ícone do Menu na Lateral Esquerda */
  .menu-icon {
    display: block;
    position: absolute;
    left: 20px; /* Move o ícone para a lateral esquerda */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem; /* Ajusta o tamanho do ícone */
    color: #ffffff;
  }

  /* Menu Lateral com Transição Suave */
  .header-nav-links {
    display: flex;
    flex-direction: column; /* Links em coluna */
    align-items: flex-start; /* Alinha os links à esquerda */
    gap: 0; /* Remove espaçamento extra entre os links */
    position: fixed;
    top: 0; /* Fixa o menu no topo */
    left: 0;
    background: #dce4ff; /* Fundo branco */
    width: 75%; /* Menu ocupa 75% da tela */
    height: 100%; /* Menu ocupa toda a altura */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transform: translateX(-100%); /* Esconde o menu à esquerda */
    opacity: 0; /* Invisível inicialmente */
    pointer-events: none; /* Não interativo inicialmente */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza a transição */
    z-index: 1000;
    cursor: pointer;
  }
  
  /* Menu Aberto */
  .header-nav-links.open {
    transform: translateX(0); /* Mostra o menu */
    opacity: 1; /* Torna visível */
    pointer-events: all; /* Torna interativo */
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    z-index: 999; /* Fica abaixo do menu */
    opacity: 0; /* Invisível inicialmente */
    pointer-events: none; /* Não interativo inicialmente */
    transition: opacity 0.3s ease;
  }
  
  .menu-overlay.open {
    opacity: 1; /* Torna visível */
    pointer-events: all; /* Torna interativo */
  }

  .header-nav-links a {
    color: #1976d2; /* Azul escuro */
    text-decoration: none;
    font-size: 1.2rem;
    display: flex; /* Para alinhar ícone e texto */
    align-items: center;
    gap: 10px; /* Espaço entre ícone e texto */
  }

  .header-nav-links a:hover {
    color: #d32f2f; /* Vermelho no hover */
  }

  /* Ícones nos Links */
  .header-icon {
    font-size: 1.4rem; /* Ajusta o tamanho do ícone */
    color: #1976d2; /* Cor azul para os ícones */
    transition: color 0.3s ease;
  }

  .header-nav-links a:hover .header-icon {
    color: #d32f2f; /* Ícones vermelhos no hover */
  }

  /* Botão de Fechar no Menu */
  .menu-close {
    border-bottom: none;
    position: absolute;
    top: 5px;       
    left: 300px;              
    background: none;
    border: none;
    font-size: 1.8rem; /* Tamanho do ícone */
    color: #1976d2; /* Azul padrão */
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease; /* Efeito no hover */
  }
  
  .menu-close:hover {
    color: #d32f2f; /* Vermelho no hover */
    transform: scale(1.0) /* Leve aumento no hover */
  }
  
  .menu-close button {
    background: none;
    border: none;
    font-size: 1.8rem; /* Tamanho do ícone */
    color: #1976d2; /* Azul padrão */
    cursor: pointer;
    
  }
  
  .menu-close button:hover {
    color: #d32f2f; /* Vermelho no hover */
    transform: scale(1.0) /* Leve aumento no hover */
  }

  /* Divisórias entre os Links */
  .header-nav-links li {
    border-top: none;
    width: 100%; /* Divisória ocupa toda a largura */
    border-bottom: 1px solid #e0e0e0; /* Linha cinza clara */
  }

  .header-nav-links li.menu-close {
    border-bottom: none; /* Remove a linha do botão de fechar */
  }

  .header-nav-links li a {
    display: flex; /* Alinha ícones e texto horizontalmente */
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre ícone e texto */
    padding: 15px 0; /* Espaçamento vertical */
    color: #1976d2; /* Azul escuro */
    text-decoration: none;
    font-size: 1.2rem; /* Tamanho do texto */
  }

  .header-nav-links li a:hover {
    color: #d32f2f; /* Vermelho no hover */
  }
}
@media (min-width: 769px) {
  /* Hero no Desktop */
  .header + .hero {
    margin-top: 0; /* Remove o espaço no desktop */
    padding-top: 75px; /* Compensa a altura do header fixo */
  }

  .hero {
    margin: 0; /* Remove qualquer margem no desktop */
    padding: 0; /* Remove padding adicional */
  }
}